# Data Cleaning a movies dataset
<hr>
This dataset was gotten from Kaggle, I performed cleaning tasks on the dataset using Pandas, numpy and Regex patterns to make the cleaning process clean, efficient and fast.

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Reading the data into the dataframe
data = pd.read_csv("dataset_used/movies.csv")

# Viewing the top 5 rows of data
data.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [2]:
# Rename the column names to be lower case and replacing '-' with '_' for uniformity.
data.columns = [column.replace("-", "_").lower() for column in data.columns]

# Checking for the missing values
data.isnull().sum()

movies         0
year         644
genre         80
rating      1820
one_line       0
stars          0
votes       1820
runtime     2958
gross       9539
dtype: int64

In [3]:
# Brief summary on our data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9355 non-null   object
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one_line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   object
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [4]:
# Getting the percentage of missing data in each column of data
a = data.isna().mean().round(4) * 100
col = a.index
val = a.values

for i in range(len(col)):
    print(f"\nThe percentage of missing values in the {col[i]} column is - {round(val[i], 4)}%")
print("\n", "----"*10, f"\nThe average percentage of missing values is {round(val.mean(), 2)}%","\n", "----"*10)

The percentage of missing values in the movies column is - 0.0%

The percentage of missing values in the year column is - 6.44%

The percentage of missing values in the genre column is - 0.8%

The percentage of missing values in the rating column is - 18.2%

The percentage of missing values in the one_line column is - 0.0%

The percentage of missing values in the stars column is - 0.0%

The percentage of missing values in the votes column is - 18.2%

The percentage of missing values in the runtime column is - 29.58%

The percentage of missing values in the gross column is - 95.4%

 ----------------------------------------
The average percentage of missing values is 18.74%
 ----------------------------------------

<b>BASED ON THE ABOVE INSIGHT IT WILL BE UNWISE TO DROP NULL VALUES</b>
## Start cleaning the data while trying our best to preserve data

In [5]:
# First 5 rows of data
data.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [6]:
# Select all the object variables to replace \n and strip the extra spaces in the values
data_obj = data.select_dtypes("object")
data[data_obj.columns] = data_obj.apply(lambda x: x.str.replace("\n", "").str.strip())
data.head()

,movies,year,genre,rating,one_line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,NaN,NaN,NaN

In [7]:
# Getting an idea of what's left to do on the object datatypes.
for i in data[data_obj.columns]:
    print(i)
    print(data[i].sample(n=5, random_state=4), "\n")

movies
1603                          Pieles
8713    Power Rangers Beast Morphers
4561             La Memoria del Agua
6600                 Bleach: Burîchi
2558                Soaked in Bleach
Name: movies, dtype: object

year
1603         (2017)
8713    (2019–2020)
4561         (2015)
6600    (2004–2012)
2558         (2015)
Name: year, dtype: object

genre
1603          Comedy, Drama, Fantasy
8713        Action, Adventure, Drama
4561                  Drama, Romance
6600    Animation, Action, Adventure
2558              Documentary, Crime
Name: genre, dtype: object

one_line
1603    In a strange world where people share numerous...
8713    Nate is reunited with his do-gooder parents, w...
4561    When the accidental death of a couple's young ...
6600    Ichigo and crew defeat the giant, but their en...
2558    Tom Grant, a private investigator once hired b...
Name: one_line, dtype: object

stars
1603    Director:Eduardo Casanova|     Stars:Ana Polvo...
8713    Director:Oliver Driver|     Stars:Rorrie D. Tr...
4561    Director:Matías Bize|     Stars:Elena Anaya, B...
6600    Directors:Noriyuki Abe, Kôji Aritomi|     Star...
2558    Director:Benjamin Statler|     Stars:Daniel Ro...
Name: stars, dtype: object

votes
1603     5,206
8713        23
4561       702
6600       186
2558    12,398
Name: votes, dtype: object

gross
1603    NaN
8713    NaN
4561    NaN
6600    NaN
2558    NaN
Name: gross, dtype: object

Based on the above 'objects' column we can say that the <b>Year</b>, <b>Votes</b> and <b>Gross</b> all have issues that needs to be fixed

In [8]:
# Checking for data types and missing values.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9355 non-null   object
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one_line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   object
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

### Working on the Year column
<hr>

In [9]:
# Checking the first 7 values of the year column
data.year.to_list()[:6]

['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2021)', '(2020– )']

In [10]:
# Working on the 'year' column
# Remove the brackets'()' and the extra spaces
data["year"] = data["year"].str.replace("(", "", regex=True)
data["year"] = data["year"].str.replace(")", "", regex=True)
data['year'] = data['year'].replace(" ", "", regex=True)

In [11]:
# Confirming the changes made
data.year.to_list()[:8]

['2021', '2021–', '2010–2022', '2013–', '2021', '2020–', '2021', '2006–2013']

In [12]:
# Create a new column to show when the movie aired 
data['start_year'] = data['year'].str.extract(r'(\d{4})')
data['start_year'].unique()

array(['2021', '2010', '2013', '2020', '2006', '2019', '2016', '2011',
       '2005', '2008', '2017', '1994', '2014', '2015', '2003', '2009',
       '2018', '1987', '2012', '2007', '2000', '1993', '1999', '2001',
       '1997', '1989', '1975', '1995', '1984', '1998', '1966', '1990',
       '2002', '1976', '1978', '2022', '1982', '1968', '2004', '1996',
       '1971', '1980', '1962', '1991', '1960', '1988', '1969', '1961',
       '1979', '1956', '1983', nan, '1986', '1967', '1974', '1992',
       '1958', '1932', '1941', '1950', '1946', '1981', '1952', '1957',
       '1954', '1955', '1948', '1947', '1977', '2023', '1945', '1953',
       '1985', '1973', '1972', '1965', '1944', '1933', '1938'],
      dtype=object)

In [13]:
# Creating a new column to show when the movie stopped showing "Officially"
data['end_year'] = data['year'].str.extract(r'(\d{4}$)').replace(np.nan, "-")
data['end_year'].unique()

array(['2021', '-', '2022', '2013', '2004', '2020', '2015', '2019',
       '2014', '2018', '2017', '1994', '2007', '1993', '2016', '2012',
       '2001', '1999', '1998', '1975', '2008', '2006', '1996', '2000',
       '2003', '1969', '1991', '1995', '2002', '1976', '1978', '2005',
       '1968', '2010', '2011', '1971', '1989', '1997', '1980', '2009',
       '1962', '1984', '1960', '1988', '1987', '1961', '1979', '1956',
       '1983', '1990', '1986', '1966', '1967', '1974', '1992', '1958',
       '1932', '1941', '1950', '1946', '1952', '1957', '1954', '1982',
       '1955', '1948', '1947', '1977', '2023', '1945', '1953', '1985',
       '1973', '1972', '1965', '1944', '1933', '1938'], dtype=object)

In [14]:
# Creating a new column to show the type of movie showed
data['showing_type'] = data['year'].str.extract(r'(\D*$)').replace("", "-").replace(np.nan, "-").replace("–", "-")
data['showing_type'].unique()

array(['-', 'TVSpecial', 'TVMovie', 'Video', 'I', 'III', 'II', 'XII',
       'VII', 'IV', 'TVShort', 'V', 'VIII', 'XXIII', 'VI', 'XI', 'XLI',
       'IX', 'XIII', 'VideoGame'], dtype=object)

In [15]:
# Dropping the year column
data.drop('year', axis=1, inplace=True)

# Showing the top 2
data.head(2)

,movies,genre,rating,one_line,stars,votes,runtime,gross,start_year,end_year,showing_type
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,NaN,2021,2021,-
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,NaN,2021,-,-

### Working on the votes column
<hr>

In [16]:
# Viewing 10 random votes data values
data.votes.sample(n=10, random_state=4)

1603     5,206
8713        23
4561       702
6600       186
2558    12,398
7642       119
8911        36
3319     3,017
6852       NaN
1366    21,963
Name: votes, dtype: object

In [17]:
# Working on the votes data next first thing is to replace the 'NaN' with '0'
data['votes'].replace(np.nan, '0', inplace=True)

# Replace the ',' inbetween the numbers with nothing 'lol'
data['votes'] = data['votes'].str.replace(',', "")

# Convert the column into an interger data type
data.votes = data['votes'].astype('int64')

# Good :)
print("We are done with the 'votes' column")

We are done with the 'votes' column

In [18]:
data['votes'].sample(n=5, random_state=4)

1603     5206
8713       23
4561      702
6600      186
2558    12398
Name: votes, dtype: int64

### Working on the Gross column
<hr>

In [19]:
# Viewing 10 random data vlaues from the gross column
data.gross.sample(n=10, random_state=3)

3025        NaN
7410        NaN
4507        NaN
8277        NaN
231         NaN
6290        NaN
800     $15.09M
1859        NaN
5068        NaN
9631        NaN
Name: gross, dtype: object

In [20]:
# Replace the 'NaN' in the column to '0'
data['gross'].replace(np.nan, '0', inplace=True)

# Remove the '$' and the 'M' from each values in the data series
data['gross'] = data['gross'].str.replace("$","", regex=True)
data['gross'] = data['gross'].str.replace("M","", regex=True)

# Performing multiplication to convert to millions as the letter 'M' represented millions
data['gross'] = data.gross.apply(lambda x: float(x) * 1000000)

# Convert the datatype from a 'object' to an 'integer' number
data.gross = data['gross'].astype('int64')

# Tres Bien :)
print("we are done with the 'gross' column")

we are done with the 'gross' column

In [21]:
# Viewing 10 random data vlaues from the gross column
data.gross.sample(n=10, random_state=8)

9582           0
7546           0
3001           0
6858           0
770     24150000
6908           0
2019           0
7309           0
1334     4540000
5928           0
Name: gross, dtype: int64

### Working on the Runtime column
<hr>

In [22]:
# Viewing 10 random values from the runtime column
data.runtime.sample(n=10, random_state=4)

1603     77.0
8713      NaN
4561     88.0
6600     24.0
2558     90.0
7642      NaN
8911     25.0
3319    101.0
6852      NaN
1366    104.0
Name: runtime, dtype: float64

In [23]:
# Since the runtime column is a floating number we would convert the 'Nan' to '0.0'
data.runtime.replace(np.nan, 0, inplace=True)

# Convert the datatype from an 'object' to a 'floating' number
data.runtime = data['runtime'].astype('int64')

# Merci :)
print("we are done with the 'runtime' column")

we are done with the 'runtime' column

In [24]:
# Viewing 10 random values from the runtime column
data.runtime.sample(n=10, random_state=3)

3025    126
7410     42
4507      6
8277     53
231      90
6290      0
800     101
1859      0
5068      0
9631      0
Name: runtime, dtype: int64

### Working on the Rating Column
<hr>

In [25]:
# Viewing 10 random data vlaues from the rating column
data.rating.sample(n=10, random_state=3)

3025    4.5
7410    6.6
4507    6.9
8277    6.2
231     6.7
6290    NaN
800     7.7
1859    NaN
5068    NaN
9631    7.7
Name: rating, dtype: float64

In [26]:
# Since the rating column is a floating point number we can replace NaN' with 0.0
data.rating.replace(np.nan, 0.0, inplace=True)

# Quick :)
print("we are done with the 'rating' column")

we are done with the 'rating' column

In [27]:
# Viewing 10 random data vlaues from the rating column
data.rating.sample(n=10, random_state=4)

1603    6.2
8713    8.3
4561    6.1
6600    7.5
2558    7.4
7642    7.5
8911    6.5
3319    5.9
6852    0.0
1366    6.2
Name: rating, dtype: float64

### Working on the one_line column
<hr>

In [28]:
# Saw this and decided to make some changes
data.one_line.tail()

9994    Add a Plot
9995    Add a Plot
9996    Add a Plot
9997    Add a Plot
9998    Add a Plot
Name: one_line, dtype: object

In [29]:
# Changing the "Add a Plot" to "No plot given" for better underastanding.
data.one_line = data['one_line'].str.replace("Add a Plot", "No plot given")

# Done :)
print("we are done with the 'one_line' column")

we are done with the 'one_line' column

<b>After cleaning each column we can view the dataset to have an idea on how it looks now</b>

In [30]:
# Checking for all the changes in the dataset.
data

,movies,genre,rating,one_line,stars,votes,runtime,gross,start_year,end_year,showing_type
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,21062,121,0,2021,2021,-
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",17870,25,0,2021,-,-
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",885805,44,0,2010,2022,-
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...",414849,23,0,2013,-,-
4,Army of Thieves,"Action, Crime, Horror",0.0,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,0,0,0,2021,2021,-
...,...,...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,"Adventure, Drama, Fantasy",0.0,No plot given,"Stars:Morgan Taylor Campbell, Chris Cope, Iñak...",0,0,0,2021,-,-
9995,Arcane,"Animation, Action, Adventure",0.0,No plot given,,0,0,0,2021,-,-
9996,Heart of Invictus,"Documentary, Sport",0.0,No plot given,Director:Orlando von Einsiedel| Star:Princ...,0,0,0,2022,-,-
9997,The Imperfects,"Adventure, Drama, Fantasy",0.0,No plot given,Director:Jovanka Vuckovic| Stars:Morgan Ta...,0,0,0,2021,-,-
9998,The Imperfects,"Adventure, Drama, Fantasy",0.0,No plot given,Director:Jovanka Vuckovic| Stars:Morgan Ta...,0,0,0,2021,-,-

### Checking for duplicates
<hr>

In [31]:
# Checking for duplicate data
datah = data.copy()
sa = datah.duplicated(keep='first')
datah = datah[~sa]

# Checking the percentage of duplicate data
print(f"Total duplicates '{data.shape[0] - datah.shape[0]}' rows of data amounts to {round((data.shape[0]-datah.shape[0])/data.shape[0], 4) * 100}% of our dataset")

Total duplicates '431' rows of data amounts to 4.31% of our dataset

### Dropping the null data
<hr>

In [32]:
# Confirming Null values again
datah.isnull().sum()

movies            0
genre            78
rating            0
one_line          0
stars             0
votes             0
runtime           0
gross             0
start_year      635
end_year          0
showing_type      0
dtype: int64

In [33]:
# Checking for null in the dataframe
fin = datah.isna().mean().round(4) * 100
val_f = fin.values
rows = datah.isna().sum().values

print(f"Total percentage of dropped data is '{round(sum(val_f), 4)}%' which amounts to {sum(rows)}"
      f" rows of data out of a total of {datah.shape[0]} rows of data")

Total percentage of dropped data is '7.46%' which amounts to 713 rows of data out of a total of 9568 rows of data

In [34]:
# Dropping the null data
datah.dropna(inplace=True)

In [35]:
datah.head()

,movies,genre,rating,one_line,stars,votes,runtime,gross,start_year,end_year,showing_type
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,21062,121,0,2021,2021,-
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",17870,25,0,2021,-,-
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",885805,44,0,2010,2022,-
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...",414849,23,0,2013,-,-
4,Army of Thieves,"Action, Crime, Horror",0.0,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,0,0,0,2021,2021,-

In [36]:
# Resetting and dropping the previous index column
datah.reset_index(inplace=True)
del datah['index']

In [37]:
datah.head()

,movies,genre,rating,one_line,stars,votes,runtime,gross,start_year,end_year,showing_type
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,21062,121,0,2021,2021,-
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",17870,25,0,2021,-,-
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",885805,44,0,2010,2022,-
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...",414849,23,0,2013,-,-
4,Army of Thieves,"Action, Crime, Horror",0.0,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,0,0,0,2021,2021,-

### Rearranging the DataFrame Columns
<hr>

In [38]:
datah = datah[['movies', 'start_year', 'end_year', 'showing_type', 'genre','rating', 'one_line', 'stars', 'runtime','gross', 'votes']]

In [39]:
datah

,movies,start_year,end_year,showing_type,genre,rating,one_line,stars,runtime,gross,votes
0,Blood Red Sky,2021,2021,-,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,121,0,21062
1,Masters of the Universe: Revelation,2021,-,-,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",25,0,17870
2,The Walking Dead,2010,2022,-,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",44,0,885805
3,Rick and Morty,2013,-,-,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...",23,0,414849
4,Army of Thieves,2021,2021,-,"Action, Crime, Horror",0.0,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8906,Totenfrau,2022,-,-,"Drama, Thriller",0.0,No plot given,"Director:Nicolai Rohde| Stars:Felix Klare,...",0,0,0
8907,Arcane,2021,-,-,"Animation, Action, Adventure",0.0,No plot given,,0,0,0
8908,Heart of Invictus,2022,-,-,"Documentary, Sport",0.0,No plot given,Director:Orlando von Einsiedel| Star:Princ...,0,0,0
8909,The Imperfects,2021,-,-,"Adventure, Drama, Fantasy",0.0,No plot given,Director:Jovanka Vuckovic| Stars:Morgan Ta...,0,0,0
8910,The Imperfects,2021,-,-,"Adventure, Drama, Fantasy",0.0,No plot given,Director:Jovanka Vuckovic| Stars:Morgan Ta...,0,0,0

In [40]:
datah.to_csv("cleaned_movies.csv")

Notebook created by <b>Oluwaseun Ogundeko</b>