# #DATA CHALLENGE
This dataset was given to me as part of an ongoing(2023) twitter challenge hosted by @PromiseNonso_ and @vicSomadina <br>
It involves just one very important aspect of Data Analytics or any data related field 'DATA CLEANING'<br>
We were tasked to clean the data and submit using the hashtag <b>#datachallenge</b><br>

<b>Here is my code with explanatory comments.</b>

In [1]:
# Importing necessary Libraries
import pandas as pd
import numpy as np
from datetime import datetime

# Reading the data into the dataframe
data = pd.read_csv("dataset_used/fifa21.csv", low_memory=False)

# Viewing the entire dataframe columns at once
pd.set_option('display.max_columns', None)

# Viewing the top 5 items of the dataframe
data.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595

# Variable Definitions

<b>ID:</b> Unique identification number for each player<br>
<b>Name:</b> Player's name<br>
<b>LongName:</b> Player's full name<br>
<b>photoUrl:</b> URL to the player's photo<br>
<b>playerUrl:</b> URL to the player's profile page<br>
<b>Nationality:</b> Player's nationality<br>
<b>Age:</b> Player's age<br>
<b>OVA:</b> Overall rating of the player in the game<br>
<b>POT:</b> Potential rating of the player in the game<br>
<b>Club:</b> Current club of the player<br>
<b>Contract:</b> Player's contract details (e.g., length)<br>
<b>Positions:</b> Player's preferred positions in the game<br>
<b>Height:</b> Player's height<br>
<b>Weight:</b> Player's weight<br>
<b>Preferred Foot:</b> Player's preferred foot for playing<br>
<b>BOV:</b> Best overall rating of the player in the game<br>
<b>Best Position:</b> Player's best position in the game<br>
<b>Joined:</b> Date when the player joined the current club<br>
<b>Loan Date End:</b> End date of the player's loan (if applicable)<br>
<b>Value:</b>Estimated market value of the player<br>
<b>Wage:</b> Player's weekly wage<br>
<b>Release Clause</b> Amount of money required to release the player from their contract<br>
<b>Attacking:</b> Various attacking attributes of the player, including Crossing, Finishing, Heading Accuracy, Short Passing, Volleys<br>
<b>Skill:</b> Various skill attributes of the player, including Dribbling, Curve, FK Accuracy, Long Passing, Ball Control<br>
<b>Movement:</b> Various movement attributes of the player, including Acceleration, Sprint Speed, Agility, Reactions, Balance<br>
<b>Power:</b> Various power attributes of the player, including Shot Power, Jumping, Stamina, Strength, Long Shots<br>
<b>Mentality:</b> Various mentality attributes of the player, including Aggression, Interceptions, Positioning, Vision, Penalties, Composure<br>
<b>Defending:</b> Various defending attributes of the player, including Marking, Standing Tackle, Sliding Tackle.<br>
<b>Goalkeeping:</b> Various goalkeeping attributes of the player, including GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes<br>
<b>Total Stats:</b> Total number of attributes in the game<br>
<b>Base Stats:</b> Total number of attributes that are not influenced by the player's position<br>
<b>W/F:</b> Player's weak foot rating<br>
<b>SM:</b> Player's skill moves rating<br>
<b>A/W:</b> Player's attacking work rate<br>
<b>D/W:</b> Player's defensive work rate<br>
<b>IR:</b> Player's international reputation rating<br>
<b>HITS:</b> Number of times the player has been searched for in the game.<br>

In [2]:
# Checking the numbers of rows and columns in the dataframe
rows, columns = data.shape
print(f"Numbers of rows - {data.shape[0]}\nNumbers of columns - {data.shape[1]}")

Numbers of rows - 18979
Numbers of columns - 77

In [3]:
# Replacing " " (spaces) with "_" (an underscore)
data.columns = [column.replace(" ", "_").lower() for column in data.columns]

# Renaming the 'ova' column
data.rename(columns = {"↓ova": "ova"}, inplace=True)
data.columns

Index(['id', 'name', 'longname', 'photourl', 'playerurl', 'nationality', 'age',
       'ova', 'pot', 'club', 'contract', 'positions', 'height', 'weight',
       'preferred_foot', 'bov', 'best_position', 'joined', 'loan_date_end',
       'value', 'wage', 'release_clause', 'attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'skill', 'dribbling',
       'curve', 'fk_accuracy', 'long_passing', 'ball_control', 'movement',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standing_tackle',
       'sliding_tackle', 'goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'total_stats',
       'base_stats', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'hits'],
      dtype='object')

In [4]:
# This particular block of code checks if there are null values in the dataframe
b = data.isnull().sum().to_list()
d = sum(b)
if d == 0:
    print("_DataFrame contains no NaN values_")
else:
    print(f"{d} NaN values exists")

20561 NaN values exists

In [5]:
# Getting the generaal idea of how the dataframe looks like
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18979 non-null  int64
 1   name              18979 non-null  object
 2   longname          18979 non-null  object
 3   photourl          18979 non-null  object
 4   playerurl         18979 non-null  object
 5   nationality       18979 non-null  object
 6   age               18979 non-null  int64
 7   ova               18979 non-null  int64
 8   pot               18979 non-null  int64
 9   club              18979 non-null  object
 10  contract          18979 non-null  object
 11  positions         18979 non-null  object
 12  height            18979 non-null  object
 13  weight            18979 non-null  object
 14  preferred_foot    18979 non-null  object
 15  bov               18979 non-null  int64
 16  best_position     18979 non-null  object
 17  joined            18979 non-null  object
 18  loan_date_end     1013 non-null   object
 19  value             18979 non-null  object
 20  wage              18979 non-null  object
 21  release_clause    18979 non-null  object
 22  attacking         18979 non-null  int64
 23  crossing          18979 non-null  int64
 24  finishing         18979 non-null  int64
 25  heading_accuracy  18979 non-null  int64
 26  short_passing     18979 non-null  int64
 27  volleys           18979 non-null  int64
 28  skill             18979 non-null  int64
 29  dribbling         18979 non-null  int64
 30  curve             18979 non-null  int64
 31  fk_accuracy       18979 non-null  int64
 32  long_passing      18979 non-null  int64
 33  ball_control      18979 non-null  int64
 34  movement          18979 non-null  int64
 35  acceleration      18979 non-null  int64
 36  sprint_speed      18979 non-null  int64
 37  agility           18979 non-null  int64
 38  reactions         18979 non-null  int64
 39  balance           18979 non-null  int64
 40  power             18979 non-null  int64
 41  shot_power        18979 non-null  int64
 42  jumping           18979 non-null  int64
 43  stamina           18979 non-null  int64
 44  strength          18979 non-null  int64
 45  long_shots        18979 non-null  int64
 46  mentality         18979 non-null  int64
 47  aggression        18979 non-null  int64
 48  interceptions     18979 non-null  int64
 49  positioning       18979 non-null  int64
 50  vision            18979 non-null  int64
 51  penalties         18979 non-null  int64
 52  composure         18979 non-null  int64
 53  defending         18979 non-null  int64
 54  marking           18979 non-null  int64
 55  standing_tackle   18979 non-null  int64
 56  sliding_tackle    18979 non-null  int64
 57  goalkeeping       18979 non-null  int64
 58  gk_diving         18979 non-null  int64
 59  gk_handling       18979 non-null  int64
 60  gk_kicking        18979 non-null  int64
 61  gk_positioning    18979 non-null  int64
 62  gk_reflexes       18979 non-null  int64
 63  total_stats       18979 non-null  int64
 64  base_stats        18979 non-null  int64
 65  w/f               18979 non-null  object
 66  sm                18979 non-null  object
 67  a/w               18979 non-null  object
 68  d/w               18979 non-null  object
 69  ir                18979 non-null  object
 70  pac               18979 non-null  int64
 71  sho               18979 non-null  int64
 72  pas               18979 non-null  int64
 73  dri               18979 non-null  int64
 74  def               18979 non-null  int64
 75  phy               18979 non-null  int64
 76  hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [6]:
# Going through the sample values of all the columns to be able to properly map out a plan to clean each of them
start = datetime.now()
for i in data.columns:
    print(f'{i.upper()} - \n{data[i].sample(n=4, random_state=4)}\n')
end = datetime.now()

print(f"This block of code took {end-start} seconds to run")

ID -
14982    244277
17465    242141
13133    224793
13456    170362
Name: id, dtype: int64

NAME -
14982         K. Watts
17465       S. Lippert
13133    B. Wembangomo
13456         M. Oyola
Name: name, dtype: object

LONGNAME -
14982       Kelland Watts
17465       Sören Lippert
13133    Brice Wembangomo
13456        Matías Oyola
Name: longname, dtype: object

PHOTOURL -
14982    https://cdn.sofifa.com/players/244/277/21_60.png
17465    https://cdn.sofifa.com/players/242/141/21_60.png
13133    https://cdn.sofifa.com/players/224/793/21_60.png
13456    https://cdn.sofifa.com/players/170/362/21_60.png
Name: photourl, dtype: object

PLAYERURL -
14982    http://sofifa.com/player/244277/kelland-watts/...
17465    http://sofifa.com/player/242141/soren-lippert/...
13133    http://sofifa.com/player/224793/brice-wembango...
13456    http://sofifa.com/player/170362/matias-oyola/2...
Name: playerurl, dtype: object

NATIONALITY -
14982    England
17465    Germany
13133     Norway
13456    Ecuador
Name: nationality, dtype: object

AGE -
14982    20
17465    20
13133    23
13456    37
Name: age, dtype: int64

OVA -
14982    60
17465    56
13133    62
13456    62
Name: ova, dtype: int64

POT -
14982    73
17465    68
13133    70
13456    62
Name: pot, dtype: int64

CLUB -
14982            \n\n\n\nPlymouth Argyle
17465                 \n\n\n\nVfB Lübeck
13133         \n\n\n\nSandefjord Fotball
13456    \n\n\n\nBarcelona Sporting Club
Name: club, dtype: object

CONTRACT -
14982    Jun 30, 2021 On Loan
17465             2019 ~ 2022
13133             2019 ~ 2021
13456             2012 ~ 2025
Name: contract, dtype: object

POSITIONS -
14982     CB, CM
17465         CB
13133         RB
13456    CM, CDM
Name: positions, dtype: object

HEIGHT -
14982    192cm
17465    193cm
13133    181cm
13456    167cm
Name: height, dtype: object

WEIGHT -
14982    75kg
17465    81kg
13133    75kg
13456    69kg
Name: weight, dtype: object

PREFERRED_FOOT -
14982     Left
17465    Right
13133    Right
13456     Left
Name: preferred_foot, dtype: object

BOV -
14982    62
17465    58
13133    63
13456    63
Name: bov, dtype: int64

BEST_POSITION -
14982    CDM
17465     CB
13133    RWB
13456    CAM
Name: best_position, dtype: object

JOINED -
14982     Jul 6, 2018
17465     Jul 1, 2019
13133    Jan 18, 2019
13456     Jul 6, 2012
Name: joined, dtype: object

LOAN_DATE_END -
14982    Jun 30, 2021
17465             NaN
13133             NaN
13456             NaN
Name: loan_date_end, dtype: object

VALUE -
14982    €550K
17465    €325K
13133    €850K
13456    €130K
Name: value, dtype: object

WAGE -
14982     €4K
17465    €500
13133    €700
13456    €500
Name: wage, dtype: object

RELEASE_CLAUSE -
14982       €0
17465    €248K
13133    €580K
13456    €215K
Name: release_clause, dtype: object

ATTACKING -
14982    247
17465    190
13133    244
13456    265
Name: attacking, dtype: int64

CROSSING -
14982    40
17465    33
13133    56
13456    60
Name: crossing, dtype: int64

FINISHING -
14982    45
17465    24
13133    45
13456    58
Name: finishing, dtype: int64

HEADING_ACCURACY -
14982    59
17465    63
13133    48
13456    37
Name: heading_accuracy, dtype: int64

SHORT_PASSING -
14982    65
17465    49
13133    57
13456    65
Name: short_passing, dtype: int64

VOLLEYS -
14982    38
17465    21
13133    38
13456    45
Name: volleys, dtype: int64

SKILL -
14982    255
17465    158
13133    267
13456    310
Name: skill, dtype: int64

DRIBBLING -
14982    56
17465    30
13133    64
13456    61
Name: dribbling, dtype: int64

CURVE -
14982    44
17465    23
13133    54
13456    55
Name: curve, dtype: int64

FK_ACCURACY -
14982    36
17465    25
13133    40
13456    65
Name: fk_accuracy, dtype: int64

LONG_PASSING -
14982    60
17465    46
13133    46
13456    64
Name: long_passing, dtype: int64

BALL_CONTROL -
14982    59
17465    34
13133    63
13456    65
Name: ball_control, dtype: int64

MOVEMENT -
14982    290
17465    225
13133    366
13456    342
Name: movement, dtype: int64

ACCELERATION -
14982    66
17465    47
13133    81
13456    67
Name: acceleration, dtype: int64

SPRINT_SPEED -
14982    61
17465    54
13133    83
13456    69
Name: sprint_speed, dtype: int64

AGILITY -
14982    53
17465    43
13133    74
13456    69
Name: agility, dtype: int64

REACTIONS -
14982    55
17465    42
13133    53
13456    62
Name: reactions, dtype: int64

BALANCE -
14982    55
17465    39
13133    75
13456    75
Name: balance, dtype: int64

POWER -
14982    310
17465    255
13133    284
13456    283
Name: power, dtype: int64

SHOT_POWER -
14982    59
17465    35
13133    45
13456    54
Name: shot_power, dtype: int64

JUMPING -
14982    70
17465    68
13133    73
13456    47
Name: jumping, dtype: int64

STAMINA -
14982    68
17465    60
13133    66
13456    62
Name: stamina, dtype: int64

STRENGTH -
14982    70
17465    71
13133    58
13456    65
Name: strength, dtype: int64

LONG_SHOTS -
14982    43
17465    21
13133    42
13456    55
Name: long_shots, dtype: int64

MENTALITY -
14982    271
17465    189
13133    252
13456    289
Name: mentality, dtype: int64

AGGRESSION -
14982    60
17465    58
13133    63
13456    50
Name: aggression, dtype: int64

INTERCEPTIONS -
14982    55
17465    49
13133    56
13456    60
Name: interceptions, dtype: int64

POSITIONING -
14982    46
17465    28
13133    45
13456    59
Name: positioning, dtype: int64

VISION -
14982    55
17465    25
13133    48
13456    65
Name: vision, dtype: int64

PENALTIES -
14982    55
17465    29
13133    40
13456    55
Name: penalties, dtype: int64

COMPOSURE -
14982    56
17465    42
13133    49
13456    53
Name: composure, dtype: int64

DEFENDING -
14982    177
17465    165
13133    170
13456    157
Name: defending, dtype: int64

MARKING -
14982    59
17465    49
13133    54
13456    58
Name: marking, dtype: int64

STANDING_TACKLE -
14982    60
17465    62
13133    59
13456    54
Name: standing_tackle, dtype: int64

SLIDING_TACKLE -
14982    58
17465    54
13133    57
13456    45
Name: sliding_tackle, dtype: int64

GOALKEEPING -
14982    57
17465    44
13133    61
13456    52
Name: goalkeeping, dtype: int64

GK_DIVING -
14982    11
17465    11
13133    16
13456     9
Name: gk_diving, dtype: int64

GK_HANDLING -
14982    11
17465     6
13133    15
13456    11
Name: gk_handling, dtype: int64

GK_KICKING -
14982    13
17465     9
13133    14
13456     7
Name: gk_kicking, dtype: int64

GK_POSITIONING -
14982    10
17465    10
13133     9
13456    10
Name: gk_positioning, dtype: int64

GK_REFLEXES -
14982    12
17465     8
13133     7
13456    15
Name: gk_reflexes, dtype: int64

TOTAL_STATS -
14982    1607
17465    1226
13133    1644
13456    1698
Name: total_stats, dtype: int64

BASE_STATS -
14982    349
17465    270
13133    361
13456    365
Name: base_stats, dtype: int64

W/F -
14982    4 ★
17465    3 ★
13133    3 ★
13456    2 ★
Name: w/f, dtype: object

SM -
14982    2★
17465    2★
13133    3★
13456    4★
Name: sm, dtype: object

A/W -
14982      High
17465    Medium
13133    Medium
13456    Medium
Name: a/w, dtype: object

D/W -
14982    Medium
17465    Medium
13133    Medium
13456    Medium
Name: d/w, dtype: object

IR -
14982    1 ★
17465    1 ★
13133    1 ★
13456    1 ★
Name: ir, dtype: object

PAC -
14982    63
17465    51
13133    82
13456    68
Name: pac, dtype: int64

SHO -
14982    48
17465    26
13133    44
13456    56
Name: sho, dtype: int64

PAS -
14982    55
17465    38
13133    52
13456    63
Name: pas, dtype: int64

DRI -
14982    57
17465    34
13133    65
13456    64
Name: dri, dtype: int64

DEF -
14982    58
17465    55
13133    56
13456    54
Name: def, dtype: int64

PHY -
14982    68
17465    66
13133    62
13456    60
Name: phy, dtype: int64

HITS -
14982      8
17465    NaN
13133      3
13456      3
Name: hits, dtype: object

This block of code took 0:00:00.298608 seconds to run

In [7]:
# After careful consideration of the samples of each columns we can say that these are the columns where
# all of the dirty values lies
dirty = ["hits", "ir", "sm", "w/f", "club", "contract", "release_clause", "wage", "height",
         "weight", "joined", "loan_date_end", "value"]
data[dirty].head()

,hits,ir,sm,w/f,club,contract,release_clause,wage,height,weight,joined,loan_date_end,value
0,771,5 ★,4★,4 ★,\n\n\n\nFC Barcelona,2004 ~ 2021,€138.4M,€560K,170cm,72kg,"Jul 1, 2004",NaN,€103.5M
1,562,5 ★,5★,4 ★,\n\n\n\nJuventus,2018 ~ 2022,€75.9M,€220K,187cm,83kg,"Jul 10, 2018",NaN,€63M
2,150,3 ★,1★,3 ★,\n\n\n\nAtlético Madrid,2014 ~ 2023,€159.4M,€125K,188cm,87kg,"Jul 16, 2014",NaN,€120M
3,207,4 ★,4★,5 ★,\n\n\n\nManchester City,2015 ~ 2023,€161M,€370K,181cm,70kg,"Aug 30, 2015",NaN,€129M
4,595,5 ★,5★,5 ★,\n\n\n\nParis Saint-Germain,2017 ~ 2022,€166.5M,€270K,175cm,68kg,"Aug 3, 2017",NaN,€132M

In [8]:
# We start with the "hits" column
# Clean the hits column by removing the 'K' and do the multiplication.
data['hits'] = data['hits'].apply(lambda x: pd.to_numeric(x[:-1], errors='coerce') * 1000 if "K" in str(x) else x)

# There are null values so we fillna with 0.
data['hits'].fillna("0", inplace=True)
# The purpose of replacing NaN with 0 is that there is a high possiblity that some select players has no single hits
# If they were not played. There are players built for the bench lol.

# Convert the column to a data type of 'int64'
data.hits = data['hits'].astype('int64')
data['hits'].sample(n=10, random_state=4)

14982     8
17465     0
13133     3
13456     3
1031     29
15368    15
9635      4
11768    22
5248     41
17963     0
Name: hits, dtype: int64

In [9]:
# We move on to the columns that contains a '★'
# That is column 'ir', 'sm' and 'w/f'.
stars = dirty[1:4]

data[stars] = data[stars].apply(lambda x: x.str.replace(" ", ""))

for i in data[stars]:
    data[i] = data[i].apply(lambda x: int(x[0]) * x[1])

# This should look more presentable. :)
data[stars].sample(n=10, random_state=4)

       ir    sm   w/f
14982   ★    ★★  ★★★★
17465   ★    ★★   ★★★
13133   ★   ★★★   ★★★
13456   ★  ★★★★    ★★
1031   ★★    ★★  ★★★★
15368   ★   ★★★   ★★★
9635    ★    ★★   ★★★
11768   ★   ★★★   ★★★
5248    ★   ★★★    ★★
17963   ★    ★★    ★★

In [10]:
# Club next
data.club = data['club'].apply(lambda x: x.replace('\n', ''))

# Looks better.
data['club'].sample(n=10, random_state=4)

14982            Plymouth Argyle
17465                 VfB Lübeck
13133         Sandefjord Fotball
13456    Barcelona Sporting Club
1031      Brighton & Hove Albion
15368             BSC Young Boys
9635                   Blackpool
11768           Portland Timbers
5248               Middlesbrough
17963                   SD Aucas
Name: club, dtype: object

In [11]:
# We will move on to the contract column.

# Adjusting the 'contract' column to take only useful values while ignoring '~' and other words.
data['contract_starts'] = data['contract'].apply(lambda x: x[-7:] if "On Loan" in x else x[:4].strip())

# Creating a new column called 'contract_ends' and taking values from the 'contract column' to populate it
data['contract_ends'] = data['contract'].apply(lambda x: x[:-7] if "On Loan" in x else x[:] if "Free" in x else x[-4:])

# Removing the 'contract' item from the dirty list
dirty.remove('contract')

# Adding the two new items we created to the dirty data list
dirty.extend(['contract_starts', 'contract_ends'])

# This should look better already :)
data[['contract_starts', 'contract_ends']].sample(n=10, random_state=4)

      contract_starts  contract_ends
14982         On Loan  Jun 30, 2021
17465            2019           2022
13133            2019           2021
13456            2012           2025
1031             2020           2023
15368            2019           2022
9635             2017           2021
11768            2019           2020
5248             2017           2021
17963            2020           2024

In [12]:
# In the block we will be cleaning every column that is money related based on the data provided there is a distinct
# similarity between the columns that is they either have "K" for thousands or "M" for millions or are just hundreds
# and they all have the '€' symbol.
# Taking that into account we will create a somewhat lengthy lambda function to deal with it, that is remove the '€' sign
# and convert them to their respective denominations (if that's the correct word) :)
# Then after that we convert each of the columns to a floating number.

money_related = ["release_clause", "wage", "value"]
for i in data[money_related]:
    # Removed the '€' symbol
    data[i] = data[i].apply(lambda x: x.replace('€', ""))
    # Did the conversions here
    data[i] = data[i].apply(lambda x: pd.to_numeric(x[:-1], errors='coerce') * 1000 if "K" in x 
                            else pd.to_numeric(x[:-1], errors='coerce') * 1000000 if "M" in x 
                            else pd.to_numeric(x, errors='coerce'))
    data[i] = data[i].astype('int64')

# This should look better already :)
data[money_related].sample(n=10, random_state=4)

       release_clause   wage     value
14982               0   4000    550000
17465          248000    500    325000
13133          580000    700    850000
13456          215000    500    130000
1031         17800000  52000  10500000
15368          956000   2000    650000
9635           831000   3000    700000
11768         1200000   2000   1300000
5248          4700000  10000   2400000
17963          361000    500    250000

In [13]:
# We go on to the 'weight' column

# We convert the 'ibs' to 'kg' while removing the 'ibs' and 'kg' unit of measure leaving it as a bare number.
data['weight(KG)'] = data['weight'].apply(lambda x: x[:-2] if "kg" in x
                                          else round(pd.to_numeric(x[:-3], errors='coerce') * 0.454, 2))

# Converting the column to floating point numbers
data['weight(KG)'] = data['weight(KG)'].astype('float64')

# Adding the new item we created to the dirty data list
dirty.append('weight(KG)')
# Dropping the weight column from the dataset and adding the weight(KG) to the dirty data list
dirty.remove('weight')

# Converted to KG looks good too :)
data['weight(KG)'].sample(n=10, random_state=4)

14982    75.0
17465    81.0
13133    75.0
13456    69.0
1031     75.0
15368    65.0
9635     75.0
11768    65.0
5248     78.0
17963    65.0
Name: weight(KG), dtype: float64

In [14]:
# Replacing irrelevant values with the correct one
data['height'] = data['height'].apply(lambda x: x.replace('"', ""))
data['height'] = data['height'].apply(lambda x: x.replace("'", "."))

# lambda function to convert all to centimeter
data['height(cm)'] = data['height'].apply(lambda x: x[:-2] if "cm" in x
                                          else round(pd.to_numeric(x, errors='coerce') * 30.48, 2))

# Converting the 'height(cm)' column to floating point numbers
data['height(cm)'] = data['height(cm)'].astype('float64')

# Adding the new item we created to the dirty data list
dirty.append('height(cm)')
# Dropping the weight column from the dataset and adding the weight(KG) to the dirty data list
dirty.remove('height')

# Converted to cm looks good too :)
data['height(cm)'].sample(n=10, random_state=4)

14982    192.0
17465    193.0
13133    181.0
13456    167.0
1031     184.0
15368    170.0
9635     180.0
11768    170.0
5248     188.0
17963    167.0
Name: height(cm), dtype: float64

In [15]:
# Now we move to the loan colunm
data.loan_date_end = data['loan_date_end'].apply(lambda x: "Not On Loan" if x is np.nan else "On Loan").to_list()
data.rename(columns = {"loan_date_end": "loan_status"}, inplace=True)

# Adding the new item we created to the dirty data list
dirty.append('loan_status')
# Dropping the loan_date_end column from the dataset and adding the loan_status to the dirty data list
dirty.remove('loan_date_end')

# Looks better? Read text below for explanation 
data["loan_status"].sample(n=10, random_state=4)

14982        On Loan
17465    Not On Loan
13133    Not On Loan
13456    Not On Loan
1031     Not On Loan
15368    Not On Loan
9635     Not On Loan
11768    Not On Loan
5248     Not On Loan
17963    Not On Loan
Name: loan_status, dtype: object

The purpose of doing this particular conversion and introducing <b>Not On Loan</b> and <b>On Loan</b> values into this column is because when I checked the <b>loan_date_end</b> column and the <b>contract</b> column what I noticed was that the individuals <b>On Loan</b> and the dates attached to them is identical to the dates and the individuals in the <b>loan_date_end</b> so I felt it would be better to just create categorical values to identify those <b>On Loan</b> and those <b>Not On Loan</b>.

In [16]:
# After working on the dirty data list this is what we have now.
# Clean data
data[dirty].head()

,hits,ir,sm,w/f,club,release_clause,wage,joined,value,contract_starts,contract_ends,weight(KG),height(cm),loan_status
0,771,★★★★★,★★★★,★★★★,FC Barcelona,138400000,560000,"Jul 1, 2004",103500000,2004,2021,72.0,170.0,Not On Loan
1,562,★★★★★,★★★★★,★★★★,Juventus,75900000,220000,"Jul 10, 2018",63000000,2018,2022,83.0,187.0,Not On Loan
2,150,★★★,★,★★★,Atlético Madrid,159400000,125000,"Jul 16, 2014",120000000,2014,2023,87.0,188.0,Not On Loan
3,207,★★★★,★★★★,★★★★★,Manchester City,161000000,370000,"Aug 30, 2015",129000000,2015,2023,70.0,181.0,Not On Loan
4,595,★★★★★,★★★★★,★★★★★,Paris Saint-Germain,166500000,270000,"Aug 3, 2017",132000000,2017,2022,68.0,175.0,Not On Loan

When I read the columns description above, we found out that certain columns are the combinations of several independent columns and they look like outliers but we can actually convert them to percentages because we already know what columns they sumed up to fill those particular colunms.

In [17]:
# We have columns that are a combination of multiple columns for example:
# The attacking column is a combinaiton of crossing, finishing, heading, accuracy, short passing and volleys
# Knowing that each of the combination has a highest vallue of 100 we can deduce that to get the percentage of the 
# Attacking column we can apply the bsic percentage conversion formular
# attacking_value / total_of _highest_combo * 100
# That will be:

data['attacking(%)'] = data.attacking.apply(lambda x: round((x / 600) * 100), 2)
data['attacking(%)'].sample(n=10, random_state=4)

14982    41
17465    32
13133    41
13456    44
1031     51
15368    44
9635     41
11768    48
5248     47
17963    34
Name: attacking(%), dtype: int64

In [18]:
# The skills column consists of the combination of the following; dribbling, curve, FK accuracy, long passing, ball control
# For the skills section we can also apply basic percentage conversion formular;
# skills_value / total_of _highest_combo * 100
# That will be:

data['skill(%)'] = data.skill.apply(lambda x: round((x / 500) * 100), 2)
data['skill(%)'].sample(n=10, random_state=4)

14982    51
17465    32
13133    53
13456    62
1031     57
15368    53
9635     50
11768    53
5248     48
17963    43
Name: skill(%), dtype: int64

In [19]:
# The movement column is also a combination of the following columns; acceleration,sprint speed, agility, reaction, balance
# For the movement column we will apply the basic percentage conversion formular;
# movement_value / total_of _highest_combo * 100
# That will be:

data['movement(%)'] = data.movement.apply(lambda x: round((x/500) * 100), 2)
data['movement(%)'].sample(n=10, random_state=4)

14982    58
17465    45
13133    73
13456    68
1031     68
15368    79
9635     68
11768    78
5248     69
17963    60
Name: movement(%), dtype: int64

In [20]:
# Power: Various power attributes of the player, including: Shot Power, Jumping, Stamina, Strength, Long Shots
# For the power column we will also apply the basic percentage conversion formular:
# power_value / total_of _highest_combo * 100
# That will be:

data['power(%)'] = data.power.apply(lambda x: round((x/500) * 100), 2)
data['power(%)'].sample(n=10, random_state=4)

14982    62
17465    51
13133    57
13456    57
1031     66
15368    50
9635     59
11768    62
5248     70
17963    51
Name: power(%), dtype: int64

In [21]:
# Mentality: Various mentality attributes of the player, including:
# Aggression, Interceptions, Positioning, Vision, Penalties, Composure
# For the power column we will also apply the basic percentage conversion formular:
# mentality_value / total_of _highest_combo * 100
# That will be:

data['mentality(%)'] = data.mentality.apply(lambda x: round((x/500) * 100), 2)
data['mentality(%)'].sample(n=10, random_state=4)

14982    54
17465    38
13133    50
13456    58
1031     63
15368    49
9635     53
11768    49
5248     51
17963    47
Name: mentality(%), dtype: int64

In [22]:
# Defending: Various defending attributes of the player, including Marking, Standing Tackle, Sliding Tackle
# For the defending column we will also apply the basic percentage conversion formular:
# defending_value / total_of _highest_combo * 100
# That will be:

data['defending(%)'] = data.defending.apply(lambda x: round((x/500) * 100), 2)
data['defending(%)'].sample(n=10, random_state=4)

14982    35
17465    33
13133    34
13456    31
1031     47
15368    13
9635     37
11768    11
5248     14
17963    31
Name: defending(%), dtype: int64

In [23]:
# Goalkeeping: Various goalkeeping attributes of the player, including:
# GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes
# For the goalkeeping column we will also apply the basic percentage conversion formular:
# goalkeeping_value / total_of _highest_combo * 100
# That will be:

data['goalkeeping(%)'] = data.goalkeeping.apply(lambda x: round((x/500) * 100), 2)
data['goalkeeping(%)'].sample(n=10, random_state=4)

14982    11
17465     9
13133    12
13456    10
1031      9
15368     9
9635     11
11768    10
5248     10
17963    11
Name: goalkeeping(%), dtype: int64

<b>We are done cleaning</b><br>
So we will drop the colunms we don't need and that should be it.

In [24]:
# We dropping all irrelevant columns because work has been done on them and new columns have been created to replace them.
col_to_drop = ['weight', 'height', 'attacking', 'defending', 'goalkeeping', 'power', 'mentality', 'contract', 'movement',
               'skill']

# for loop to drop each of them.
for i in col_to_drop:
    data.drop([i], axis=1, inplace=True)

In [25]:
# New columns
data.columns

Index(['id', 'name', 'longname', 'photourl', 'playerurl', 'nationality', 'age',
       'ova', 'pot', 'club', 'positions', 'preferred_foot', 'bov',
       'best_position', 'joined', 'loan_status', 'value', 'wage',
       'release_clause', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'fk_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'composure', 'marking', 'standing_tackle',
       'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking',
       'gk_positioning', 'gk_reflexes', 'total_stats', 'base_stats', 'w/f',
       'sm', 'a/w', 'd/w', 'ir', 'pac', 'sho', 'pas', 'dri', 'def', 'phy',
       'hits', 'contract_starts', 'contract_ends', 'weight(KG)', 'height(cm)',
       'attacking(%)', 'skill(%)', 'movement(%)', 'power(%)', 'mentality(%)',
       'defending(%)', 'goalkeeping(%)'],
      dtype='object')

In [26]:
# Checking if there are null values in the DataFrame after cleaning
a = data.isnull().sum().to_list()
c = sum(a)
if c == 0:
    print("_No NaN Values in dataframe_")
else:
    print("NaN values exists")

_No NaN Values in dataframe_

In [27]:
# Going through the unique values of all the columns and compare them to the previous if you can
for i in data.columns:
    print(f'{i.upper()} -\n{data[i].sample(n=5, random_state=5)}\n')

ID -
14153    241930
242      204120
17788    241342
11178    233047
16423    254605
Name: id, dtype: int64

NAME -
14153          F. Gattoni
242             T. Vaclík
17788          Su Yuanjie
11178    J. Latibeaudiere
16423          M. Montiel
Name: name, dtype: object

LONGNAME -
14153      Federico Gattoni
242            Tomáš Vaclík
17788            Yuanjie Su
11178    Joel Latibeaudiere
16423        Marcos Montiel
Name: longname, dtype: object

PHOTOURL -
14153    https://cdn.sofifa.com/players/241/930/21_60.png
242      https://cdn.sofifa.com/players/204/120/21_60.png
17788    https://cdn.sofifa.com/players/241/342/21_60.png
11178    https://cdn.sofifa.com/players/233/047/21_60.png
16423    https://cdn.sofifa.com/players/254/605/21_60.png
Name: photourl, dtype: object

PLAYERURL -
14153    http://sofifa.com/player/241930/federico-gatto...
242      http://sofifa.com/player/204120/tomas-vaclik/2...
17788    http://sofifa.com/player/241342/yuanjie-su/210...
11178    http://sofifa.com/player/233047/joel-latibeaud...
16423    http://sofifa.com/player/254605/marcos-montiel...
Name: playerurl, dtype: object

NATIONALITY -
14153         Argentina
242      Czech Republic
17788          China PR
11178           England
16423           Uruguay
Name: nationality, dtype: object

AGE -
14153    21
242      31
17788    25
11178    20
16423    24
Name: age, dtype: int64

OVA -
14153    61
242      82
17788    55
11178    64
16423    58
Name: ova, dtype: int64

POT -
14153    76
242      82
17788    58
11178    75
16423    64
Name: pot, dtype: int64

CLUB -
14153    San Lorenzo de Almagro
242                  Sevilla FC
17788           Tianjin TEDA FC
11178           Manchester City
16423    River Plate Montevideo
Name: club, dtype: object

POSITIONS -
14153             CB
242               GK
17788     RM, LM, LW
11178         RB, CB
16423    CB, CDM, CM
Name: positions, dtype: object

PREFERRED_FOOT -
14153    Right
242      Right
17788    Right
11178    Right
16423    Right
Name: preferred_foot, dtype: object

BOV -
14153    63
242      82
17788    57
11178    66
16423    60
Name: bov, dtype: int64

BEST_POSITION -
14153    CB
242      GK
17788    ST
11178    CB
16423    CB
Name: best_position, dtype: object

JOINED -
14153    Dec 4, 2017
242      Jul 4, 2018
17788    Feb 1, 2019
11178    Jul 1, 2017
16423    Jan 7, 2019
Name: joined, dtype: object

LOAN_STATUS -
14153    Not On Loan
242      Not On Loan
17788    Not On Loan
11178    Not On Loan
16423    Not On Loan
Name: loan_status, dtype: object

VALUE -
14153      750000
242      16000000
17788      170000
11178     1200000
16423      300000
Name: value, dtype: int64

WAGE -
14153     2000
242      29000
17788     2000
11178    14000
16423      500
Name: wage, dtype: int64

RELEASE_CLAUSE -
14153     1100000
242      29400000
17788      163000
11178     1400000
16423      376000
Name: release_clause, dtype: int64

CROSSING -
14153    28
242      15
17788    55
11178    51
16423    33
Name: crossing, dtype: int64

FINISHING -
14153    26
242      14
17788    55
11178    35
16423    29
Name: finishing, dtype: int64

HEADING_ACCURACY -
14153    62
242      19
17788    65
11178    66
16423    55
Name: heading_accuracy, dtype: int64

SHORT_PASSING -
14153    59
242      17
17788    40
11178    57
16423    63
Name: short_passing, dtype: int64

VOLLEYS -
14153    26
242      13
17788    45
11178    31
16423    21
Name: volleys, dtype: int64

DRIBBLING -
14153    33
242      14
17788    61
11178    54
16423    43
Name: dribbling, dtype: int64

CURVE -
14153    33
242      17
17788    35
11178    38
16423    31
Name: curve, dtype: int64

FK_ACCURACY -
14153    35
242      16
17788    34
11178    36
16423    25
Name: fk_accuracy, dtype: int64

LONG_PASSING -
14153    26
242      38
17788    26
11178    51
16423    50
Name: long_passing, dtype: int64

BALL_CONTROL -
14153    59
242      20
17788    45
11178    58
16423    60
Name: ball_control, dtype: int64

ACCELERATION -
14153    65
242      36
17788    70
11178    69
16423    58
Name: acceleration, dtype: int64

SPRINT_SPEED -
14153    68
242      37
17788    70
11178    68
16423    58
Name: sprint_speed, dtype: int64

AGILITY -
14153    44
242      36
17788    77
11178    60
16423    54
Name: agility, dtype: int64

REACTIONS -
14153    45
242      79
17788    57
11178    59
16423    50
Name: reactions, dtype: int64

BALANCE -
14153    67
242      56
17788    70
11178    64
16423    59
Name: balance, dtype: int64

SHOT_POWER -
14153    47
242      57
17788    45
11178    58
16423    32
Name: shot_power, dtype: int64

JUMPING -
14153    65
242      73
17788    70
11178    79
16423    81
Name: jumping, dtype: int64

STAMINA -
14153    68
242      38
17788    55
11178    67
16423    60
Name: stamina, dtype: int64

STRENGTH -
14153    51
242      73
17788    55
11178    73
16423    74
Name: strength, dtype: int64

LONG_SHOTS -
14153    30
242      16
17788    48
11178    23
16423    18
Name: long_shots, dtype: int64

AGGRESSION -
14153    53
242      29
17788    33
11178    57
16423    56
Name: aggression, dtype: int64

INTERCEPTIONS -
14153    65
242      23
17788    12
11178    58
16423    48
Name: interceptions, dtype: int64

POSITIONING -
14153    26
242      15
17788    57
11178    38
16423    39
Name: positioning, dtype: int64

VISION -
14153    32
242      68
17788    64
11178    45
16423    41
Name: vision, dtype: int64

PENALTIES -
14153    42
242      13
17788    65
11178    34
16423    34
Name: penalties, dtype: int64

COMPOSURE -
14153    59
242      60
17788    40
11178    59
16423    50
Name: composure, dtype: int64

MARKING -
14153    61
242      20
17788    30
11178    63
16423    55
Name: marking, dtype: int64

STANDING_TACKLE -
14153    69
242      18
17788    15
11178    65
16423    61
Name: standing_tackle, dtype: int64

SLIDING_TACKLE -
14153    64
242      18
17788    20
11178    64
16423    56
Name: sliding_tackle, dtype: int64

GK_DIVING -
14153    14
242      82
17788    13
11178    12
16423    14
Name: gk_diving, dtype: int64

GK_HANDLING -
14153     5
242      76
17788     9
11178     7
16423    10
Name: gk_handling, dtype: int64

GK_KICKING -
14153    11
242      76
17788    10
11178     7
16423     6
Name: gk_kicking, dtype: int64

GK_POSITIONING -
14153     8
242      81
17788    10
11178    11
16423     6
Name: gk_positioning, dtype: int64

GK_REFLEXES -
14153    11
242      85
17788    11
11178     6
16423    10
Name: gk_reflexes, dtype: int64

TOTAL_STATS -
14153    1398
242      1288
17788    1427
11178    1564
16423    1390
Name: total_stats, dtype: int64

BASE_STATS -
14153    304
242      437
17788    300
11178    345
16423    306
Name: base_stats, dtype: int64

W/F -
14153    ★★★★
242       ★★★
17788     ★★★
11178     ★★★
16423     ★★★
Name: w/f, dtype: object

SM -
14153    ★★
242       ★
17788    ★★
11178    ★★
16423    ★★
Name: sm, dtype: object

A/W -
14153       Low
242      Medium
17788    Medium
11178    Medium
16423    Medium
Name: a/w, dtype: object

D/W -
14153      High
242      Medium
17788    Medium
11178    Medium
16423    Medium
Name: d/w, dtype: object

IR -
14153    ★
242      ★
17788    ★
11178    ★
16423    ★
Name: ir, dtype: object

PAC -
14153    67
242      82
17788    70
11178    68
16423    58
Name: pac, dtype: int64

SHO -
14153    32
242      76
17788    52
11178    37
16423    28
Name: sho, dtype: int64

PAS -
14153    40
242      76
17788    45
11178    51
16423    47
Name: pas, dtype: int64

DRI -
14153    44
242      85
17788    58
11178    57
16423    50
Name: dri, dtype: int64

DEF -
14153    65
242      37
17788    24
11178    63
16423    56
Name: def, dtype: int64

PHY -
14153    56
242      81
17788    51
11178    69
16423    67
Name: phy, dtype: int64

HITS -
14153     1
242      75
17788     0
11178    96
16423     0
Name: hits, dtype: int64

CONTRACT_STARTS -
14153    2017
242      2018
17788    2019
11178    2017
16423    2019
Name: contract_starts, dtype: object

CONTRACT_ENDS -
14153    2023
242      2021
17788    2022
11178    2022
16423    2022
Name: contract_ends, dtype: object

WEIGHT(KG) -
14153    72.0
242      85.0
17788    70.0
11178    81.0
16423    75.0
Name: weight(KG), dtype: float64

HEIGHT(CM) -
14153    183.0
242      188.0
17788    180.0
11178    180.0
16423    185.0
Name: height(cm), dtype: float64

ATTACKING(%) -
14153    34
242      13
17788    43
11178    40
16423    34
Name: attacking(%), dtype: int64

SKILL(%) -
14153    37
242      21
17788    40
11178    47
16423    42
Name: skill(%), dtype: int64

MOVEMENT(%) -
14153    58
242      49
17788    69
11178    64
16423    56
Name: movement(%), dtype: int64

POWER(%) -
14153    52
242      51
17788    55
11178    60
16423    53
Name: power(%), dtype: int64

MENTALITY(%) -
14153    44
242      30
17788    46
11178    46
16423    44
Name: mentality(%), dtype: int64

DEFENDING(%) -
14153    39
242      11
17788    13
11178    38
16423    34
Name: defending(%), dtype: int64

GOALKEEPING(%) -
14153    10
242      80
17788    11
11178     9
16423     9
Name: goalkeeping(%), dtype: int64

In [28]:
# Checking the numbers of rows and columns in the dataframe
rows, columns = data.shape
print(f"Numbers of rows - {data.shape[0]}\nNumbers of columns - {data.shape[1]}")

Numbers of rows - 18979
Numbers of columns - 78

In [29]:
# We gained an extra column :)

# Checking for duplicate data
datah = data.copy()
sa = datah.duplicated(keep='first')
datah = datah[~sa]

# Checking the percentage of duplicate data
print(f"The duplicate data amounts to {round((data.shape[0]-datah.shape[0])/data.shape[0], 4) * 100}% of our dataset")

The duplicate data amounts to 0.0% of our dataset

In [30]:
# Since there are no duplicates we can use the data(DataFrame)
data.head()

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,positions,preferred_foot,bov,best_position,joined,loan_status,value,wage,release_clause,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,fk_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,w/f,sm,a/w,d/w,ir,pac,sho,pas,dri,def,phy,hits,contract_starts,contract_ends,weight(KG),height(cm),attacking(%),skill(%),movement(%),power(%),mentality(%),defending(%),goalkeeping(%)
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",Left,93,RW,"Jul 1, 2004",Not On Loan,103500000,560000,138400000,85,95,70,91,88,96,93,94,91,96,91,80,91,94,95,86,68,72,69,94,44,40,93,95,75,96,32,35,24,6,11,15,14,8,2231,466,★★★★,★★★★,Medium,Low,★★★★★,85,92,91,95,38,65,771,2004,2021,72.0,170.0,72,94,90,78,69,18,11
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,"ST, LW",Right,92,ST,"Jul 10, 2018",Not On Loan,63000000,220000,75900000,84,95,90,82,86,88,81,76,77,92,87,91,87,95,71,94,95,84,78,93,63,29,95,82,84,95,28,32,24,7,11,15,14,11,2221,464,★★★★,★★★★★,High,Low,★★★★★,89,93,81,89,35,77,562,2018,2022,83.0,187.0,73,83,86,89,71,17,12
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,GK,Right,91,GK,"Jul 16, 2014",Not On Loan,120000000,125000,159400000,13,11,15,43,13,12,13,14,40,30,43,60,67,88,49,59,78,41,78,12,34,19,11,65,11,68,27,12,18,87,92,78,90,90,1413,489,★★★,★,Medium,Medium,★★★,87,92,78,90,52,90,150,2014,2023,87.0,188.0,16,22,61,54,28,11,87
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,"CAM, CM",Right,91,CAM,"Aug 30, 2015",Not On Loan,129000000,370000,161000000,94,82,55,94,82,88,85,83,93,92,77,76,78,91,76,91,63,89,74,91,76,66,88,94,84,91,68,65,53,15,13,5,10,13,2304,485,★★★★★,★★★★,High,High,★★★★,76,86,93,88,64,78,207,2015,2023,70.0,181.0,68,88,80,82,82,37,11
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",Right,91,LW,"Aug 3, 2017",Not On Loan,132000000,270000,166500000,85,87,62,87,87,95,88,89,81,95,94,89,96,91,83,80,62,81,50,84,51,36,87,90,92,93,35,30,29,9,9,15,15,11,2175,451,★★★★★,★★★★★,High,Medium,★★★★★,91,85,86,94,36,59,595,2017,2022,68.0,175.0,68,90,91,71,71,19,12

In [31]:
data.to_csv("cleaned_fifa21.csv")

Submission made by @iamzadon (twitter)<br>
<b>#datachallenge</b>